@model QuanLyNhaHang.Models.HangHoa
@{
    QuanLyNhaHangContext context = new QuanLyNhaHangContext();
    List<NhomHangHoa> getListNHH()
    {
        return context.NhomHangHoa.Where(x => x.Active == true).OrderByDescending(x => x.Idnhh).ToList();
    }
    List<DonViTinh> getListDVT()
    {
        return context.DonViTinh.Where(x => x.Active == true).OrderByDescending(x => x.Iddvt).ToList();
    }
}

<div class="card">
    <div class="card-body">
        <form action="/QuanLy/InsertHangHoa" method="post">
            <div class="forms-header text-center">
                <h4 class="forms-title "><b>Thêm hàng hóa</b></h4>
            </div>
            <div class="forms-body">
                <div class="col-sm-12 col-md-12 pr-0 mt-2">
                    <div class="row align-items-center">
                        <div class="col-auto avatar avatar-xl">
                            <img src="/ImagesTD/ava.jpg" class="thumbnail-sm" id="previewImage">
                        </div>
                        <div class="col-auto"> <input type="file" name="Avatar" class="form-control" id="fileAvatar" placeholder="Chọn file avatar"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label style="margin:7px 0;">Mã hàng hóa</label>
                    <input asp-for="@Model.MaHh" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label style="margin:7px 0;">Tên hàng hóa</label>
                    <input asp-for="@Model.TenHh" type="text" class="form-control" required>
                </div>
                <div @* class="form-group" *@>
                    <label style="margin:7px 0;">Hàng hóa đếm được</label>
                    <input asp-for="@Model.HangDemDuoc" type="checkbox">
                </div>

                <div>
                    <label style="margin:7px 0;">Nhóm hàng hóa</label>
                    <select required class="form-select" asp-for="@Model.Idnhh" aria-label="Default select example">
                        <option value="" selected disabled> --nhóm hàng hóa--</option>

                        @foreach (NhomHangHoa item in getListNHH())
                        {

                            <option value="@item.Idnhh">@item.TenNhh</option>
                        }
                    </select>
                </div>
                <div>
                    <label style="margin:7px 0;">Đơn vị tính</label>
                    <select required class="form-select" asp-for="@Model.Iddvt" aria-label="Default select example">
                        <option value="" selected disabled> --Đơn vị tính--</option>

                        @foreach (DonViTinh item in getListDVT())
                        {

                            <option value="@item.Iddvt">@item.TenDvt</option>
                        }
                    </select>
                </div>

                <div class="row justify-content-between">
                    <div class="col-sm-2 col-form-label">
                        <button class="btn btn-secondary" type="button" onclick="window.history.go(-1);"> Quay lại</button>
                    </div>
                    <div class="col-sm-auto col-form-label b">
                        <input type="submit" class="btn btn-primary" value="Thêm">
                    </div>

                </div>




            </div>
            

        </form>

    </div>
</div>
<script src="~/jschinh/HangHoa.js" defer></script>