@{
    QuanLyNhaHangContext context = new QuanLyNhaHangContext();
    List<NhanVien> getListNV()
    {
        return context.NhanVien.Where(x => x.Active == true).ToList();
    }
    Sanh getSanh(int? id)
    {
        return context.Sanh.Find(id);
    }
}


<div id="divKhu" class="card pt-3">
    <div class="card-body">
        <div style="margin-bottom: -40px; position:absolute; z-index:1; display:flex;">
            <div class="" style="width: auto;">

                <a href="/QuanLy/ViewInsertNhanVien" class="btn btn-primary">
                    <span>Thêm bàn mới</span>
                </a>

            </div>
            <div class="dropdown" style="margin-left: 20px">
                <select id="active" onchange="changeHH()" class="custom-select" style="width:180px">
                    <option value="true" selected>Hiện tại</option>
                    <option value="false">Tất cả</option>
                </select>
            </div>
        </div>
        <div class="table-responsive" style="white-space:nowrap;overflow-y: auto;">


            <table id="example" class="table table-striped  table-hover text-center display nowrap" style="width:100%;">
                <thead>
                    <tr>

                        <th class="text-center">Mã NV</th>
                        <th class="text-center">Tên NV</th>
                        <th class="text-center">Giới tính</th>
                        <th class="text-center">Tuổi</th>
                        <th class="text-center">SDT</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Quê quán</th>
                        <th class="text-center">Tùy chọn</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (NhanVien item in getListNV())
                    {


                        <tr>

                            <td>@item.MaMv</td>
                            <td>@item.Ten</td>
                            <td>@(item.GioiTinh == true ? "Nam" : "Nữ")</td>
                            <td>@item.Tuoi</td>
                            <td>@item.Sdt</td>
                            <td>@item.Email</td>
                            <td>@item.QueQuan</td>


                            <td>

                                <a class="chinhsua" href="/QuanLy/ViewUpdateNhanVien/@item.Idnv">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>

                                <a href="/QuanLy/deleteNhanVien/@item.Idnv" onclick="return confirm('Bạn có muốn xóa nhân viên này?')">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>

                            </td>
                        </tr>
                    }



                </tbody>
            </table>
        </div>
    </div>

</div>
<script>
    function changeHH() {
        var active = $('#active').val();
        $.ajax({
            type: "post",
            url: "/loadViewNhanVien",
            data: "active=" + active,
            success: function (result) {
                $('.table-responsive').replaceWith(result);
            },
            error: function () {
                alert("Fail to delete");
            }
        });
    }
</script>