@model QuanLyNhaHang.Models.Ban
@{
    QuanLyNhaHangContext context = new QuanLyNhaHangContext();
    List<Sanh> getListSanh()
    {
        return context.Sanh.Where(x => x.Active == true).OrderByDescending(x => x.Idsanh).ToList();
    }
    Khu getKhu(int? id)
    {
        return context.Khu.Find(id);
    }
    Khu getSanh(int? id)
    {
        return context.Khu.Include(x =>x.IdsanhNavigation).FirstOrDefault(x =>x.Idkhu == id);
    }
}

<div class="card">
    <div class="card-body">
        <form action="/QuanLy/UpdateBan" method="post">
            <div class="forms-header text-center">
                <h4 class="forms-title "><b>@ViewData["Title"]</b></h4>
            </div>
            <div class="forms-body">
                <div class="form-group">
                    <label style="margin:7px 0;">Mã bàn</label>
                    <input asp-for="@Model.MaBan" type="text" class="form-control" required>
                    <input asp-for="@Model.Idban" type="hidden" class="form-control" required>
                </div>
                <div class="form-group">
                    <label style="margin:7px 0;">Ip MAC</label>
                    <input asp-for="@Model.Ipmac" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label style="margin:7px 0;">Tên sảnh</label>
                    <input asp-for="@Model.TenBan" type="text" class="form-control" required>
                </div>
                <div>
                    <label style="margin:7px 0;">Sảnh</label>
                    <select required class="custom-select" id="Idsanh" aria-label="Default select example">
                        <option value="" selected disabled>@getSanh(Model.Idkhu).IdsanhNavigation.TenSanh</option>

                        @foreach (Sanh item in getListSanh())
                        {

                            <option value="@item.Idsanh">@item.TenSanh</option>
                        }
                    </select>
                </div>
                <div>
                    <label style="margin:7px 0;">Khu</label>
                    <select required id="Idkhu" class="custom-select" asp-for="@Model.Idkhu" aria-label="Default select example">
                        <option value="" selected disabled>@getKhu(Model.Idkhu).TenKhu</option>




                    </select>
                </div>

                <div class="row justify-content-between">
                    <div class="col-sm-2 col-form-label">
                        <button class="btn btn-secondary" type="button" onclick="window.history.go(-1);"> Quay lại</button>
                    </div>
                    <div class="col-sm-auto col-form-label b">
                        <input type="submit" class="btn btn-primary" value="Sửa">
                    </div>

                </div>

            </div>


        </form>


    </div>
</div>
<script>
    $(function () {
        // Lắng nghe sự kiện khi người dùng chọn sảnh
        $('#Idsanh').change(function () {
            var idsanh = $(this).val();
            // Gọi hàm AJAX để lấy danh sách khu tương ứng với sảnh đó từ server
            $.ajax({
                type: "post",
                url: "/get-list-khu",
                data: "idSanh=" + idsanh,
                success: function (data) {
                    $('#Idkhu').find('option').remove().end();

                    // Thêm các option mới tương ứng với danh sách khu vừa nhận được
                    $.each(data, function (i, item) {
                        $('#Idkhu').append($('<option>', {
                            value: item.idkhu,
                            text: item.tenKhu
                        }));
                    });
                }
            });
        });
    });
</script>