@using System.Net.NetworkInformation
@using QuanLyNhaHang.Services;
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    QuanLyNhaHangContext context = new QuanLyNhaHangContext();

    ThucDon getTD(int? id)
    {
        ThucDon nv = context.ThucDon.Find(id);
        if (nv != null) return nv;
        else return new ThucDon();
    }
    HangHoa getHH(int? id)
    {
        HangHoa nv = context.HangHoa.Find(id);
        if (nv != null) return nv;
        else return new HangHoa();
    }
    string macAddress = CommonServices.getDiaChiMac();
    var idb = context.Ban.FirstOrDefault(x => x.Ipmac == macAddress);
    int idban = idb.Idban;

    ViewBag.IDMAC = macAddress;
    var IDkhu = context.Ban.FirstOrDefault(x => x.Ipmac == macAddress);
    var IDSanh = context.Khu.FirstOrDefault(x => x.Idkhu == IDkhu.Idkhu);
    List<ChiTietHoaDonTam> getListCTHDT()
    {
        return context.ChiTietHoaDonTam.Where(x => x.Ipmac == macAddress && x.HangHoa != true).ToList();
    }
    List<ChiTietHoaDonTam> getListCTHDTHH()
    {
        return context.ChiTietHoaDonTam.Where(x => x.Ipmac == macAddress && x.HangHoa == true).ToList();
    }
    var KiemTraTT = context.ChiTietHoaDonTam.Where(x => x.Ipmac == macAddress).ToList();
    string toDecimal(double? d)
    {
        return d.Value.ToString("#,##0.00");
    }
   

}

        
              <div class="row" style="width:100%">
                <!-- Small table -->
                <div class="col-md-12 my-4">
                  <h2 class="h4 mb-1">Chọn số lượng món ăn</h2>
                  <p class="mb-3">Additional table rendering with vertical border, rich content formatting for cell</p>
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="toolbar">
                        <form class="form">
                          <div class="form-row">
                            <div class="form-group col-auto mr-auto">
                              <label class="my-1 mr-2 sr-only" for="inlineFormCustomSelectPref1">Show</label>
                              
                            </div>
                            <div class="form-group col-auto">
                              <label for="search" class="sr-only">Search</label>
                              <input type="text" class="form-control" id="search1" value="" placeholder="Search">
                            </div>
                          </div>
                        </form>
                      </div>
                      <!-- table -->
                    <input type="hidden" name="ipmac" id="IDMAC" value="@macAddress" />
                    <input type="hidden" name="idban" value="@idban" />
                      <table class="table table-borderless table-hover" id="tableGoiMon">
                        <thead>
                          <tr>
                            
                            <th>ID</th>
                            <th>Tên</th>
                            <th>Đơn Giá</th>
                            <th class="w-25">Số lượng</th>
                            <th>ĐVT</th>
                            <th>Thành tiền</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody id="tbodyNTA" >
                        @foreach (ChiTietHoaDonTam item in getListCTHDT())
                                                {

                                  <tr>
                                    
                                    <td>
                                    <div class="avatar avatar-md">

                                        @if (@getTD(item.Idtd).Image == null)
                                        {
                                            <img class="modal-image" style="width: auto; height: 200px;object-fit: contain;"
                                         src="~/ImagesTD/camon.png" />
                                        }
                                        else
                                        {
                                            <img class="modal-image" style="width : auto; height: 200px;object-fit: contain;"
                                         src="~/ImagesTD/@getTD(item.Idtd).Image" />
                                        }
                                    </div>
                                    </td>
                                    <td>
                                       <input type="hidden" id="IDCTHDT" value="@item.Idcthdt" />
                                      <p class="mb-0 text-muted"><strong>@getTD(@item.Idtd).Ten</strong></p>

                                    </td>
                                <td style="display:none"><input class='inputDisabled text-center' name="Idtd" data-groupid= "@getTD(item.Idtd).Idnta" value=@item.Idtd type=text></td>
                                    <td style="display:none"><input class='inputDisabled text-center' name="DonGia" value=@item.DonGia type=text></td>
                                <td style="display:none">
                                       <p class="mb-0 text-muted">@ViewBag.IDMAC</p>
                                    </td>
                                    <td>
                                    <p class="dongia mb-0 text-muted" id="tdDonGia"><strong>@toDecimal(@item.DonGia)</strong></p>
                                    </td>
                                    <td class="w-15"><input class="form-control" type="number" min="0" id="SL" value="@item.Sl"/></td>
                                    <td>Dĩa</td>
                                <td class="text-muted" id="tdThanhTien"><strong>@toDecimal((item.Sl * item.DonGia))</strong></td>
                                    <td><button class="HuyHoaDonTam btn btn-secondary"> Hủy chọn món </button>
                                    </td>
                                <td style="display:none" class="NTA"><input type="text" value="@getTD(item.Idtd).Idnta" /></td>
                                  </tr>
                                                    
                                                   
                                                }
                        @foreach (ChiTietHoaDonTam item in getListCTHDTHH())
                        {

                            <tr>

                                <td>
                                    <div class="avatar avatar-md">

                                        @if (@getHH(item.Idtd).Avatar == null)
                                        {
                                            <img class="modal-image" style="width: auto; height: 200px;object-fit: contain;"
                                                 src="~/ImagesTD/camon.png" />
                                        }
                                        else
                                        {
                                            <img class="modal-image" style="width : auto; height: 200px;object-fit: contain;"
                                                 src="~/ImagesTD/@getHH(item.Idtd).Avatar" />
                                        }
                                    </div>
                                </td>
                                <td>
                                    <input type="hidden" id="IDCTHDT" value="@item.Idcthdt" />
                                    <p class="mb-0 text-muted"><strong>@getHH(@item.Idtd).TenHh</strong></p>

                                </td>
                                <td style="display:none"><input class='inputDisabled text-center' name="Idtd" data-groupid="3" value=@item.Idtd type=text></td>
                                <td style="display:none"><input class='inputDisabled text-center' name="DonGia" value=@item.DonGia type=text></td>
                                <td style="display:none">
                                    <p class="mb-0 text-muted">@ViewBag.IDMAC</p>
                                </td>
                                <td>
                                    <p class="dongia mb-0 text-muted" id="tdDonGia"><strong>@toDecimal(@item.DonGia)</strong></p>
                                </td>
                                <td class="w-15"><input class="form-control" type="number" min="0" id="SL" value="@item.Sl" /></td>
                                <td>Dĩa</td>
                                <td class="text-muted" id="tdThanhTien"><strong>@toDecimal((item.Sl * item.DonGia))</strong></td>
                                <td>
                                    <button class="HuyHoaDonTam btn btn-secondary"> Hủy chọn món </button>
                                </td>
                                <td style="display:none" class="NTA"><input type="text" value="3" /></td>
                            </tr>


                        }
                                <tr>
                                    <td><h5>Tổng</h5></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><input class="form-control" name="tongtien" id="total"/></td>
                                    @if(KiemTraTT.Count()> 0 ){
                                        <td><button class="btn-addcthd btn btn-primary"> Xác nhận </button></td>

                                    }else{
                                          <td><button class="btn-addcthd btn btn-primary" disabled> Xác nhận </button></td>

                                    }

                                </tr>

                        </tbody>
                      </table>
                                      
                    </div>
                  </div>
                </div> <!-- customized table -->
              </div> <!-- end section -->
             
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');


    $('input[type="number"]').on('change', function () {
        var quantity = $(this).val();
        var groupId = $(this).parents('tr').find("td:eq(10) input[type='text']").val();


        // kiểm tra xem số lượng vượt quá giới hạn số lượng định mức chưa
        if (quantity == 5 && groupId == 1) {
            alert('Số lượng món khá lớn, bạn có chắc muốn tiếp tục');
        } else if (quantity == 7 && groupId == 2) {
            alert('Số lượng món khá lớn, bạn có chắc muốn tiếp tục');
        }
        else if (quantity == 15 && groupId == 3) {
            alert('Số lượng món khá lớn, bạn có chắc muốn tiếp tục');
        }
    });

        $(document).ready(function () {
    // Tính tổng giá trị của các ô "Thành tiền"
    var total = 0;
    $('#tbodyNTA tr').each(function () {
        var quantity = $(this).find('input[type="number"]').val();
        var price = $(this).find('.dongia').text();
        if (price != null && price != '') {
            var subtotal = parseInt(quantity) * parseFloat(price.replace(',', ''));
            total += subtotal;
            $(this).find('.subtotal').text(toDecimal(subtotal));
        }
    });

    // Gán giá trị tổng vào ô "Tổng"
   // $('#total').val(toDecimal(total));
        $('#total').val(total.toLocaleString('en-US', {
            style: 'decimal',
            maximumFractionDigits: 2,
            minimumFractionDigits: 2
        }));
    });
    function toDecimal(d) {
        return d.toLocaleString('vi-VN', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
    }



       function loadNhomThucAn(){
         var idnta = $('#nhomTA').val();
           $.ajax({
              type: "post",
              url: "/loadNhomThucAn",
              data: "&idnta=" + idnta  ,
              success: function (result) {

               $('#tbodyNTA').replaceWith(result);


                   },
                  error: function () {
                  alert("Fail");
                }
            });
         }

            
        $(function () {
            $("#tableGoiMon").on("click", ".btnaddcthd", function () {
                var tongtien = $('#total').val();
                var ipmac = $('#IDMAC').val();
                var idban = $('input[name="idban"]').val();
                $.ajax({
                    type: "post",
                    url: "/addChiTietHoaDon",
                    data: "ipmac=" + ipmac + "&tongtien=" + tongtien + "&idban=" + idban,
                    success: function (result) {
                        $("#TableTGBEP").load(location.href + " #TableTGBEP>*", function () {
                            // callback function
                        });
                        $("#tableGoiMon").load(location.href + " #tableGoiMon>*", function () {
                            // callback function
                        });
                    },
                    error: function () {
                        alert(ipmac);
                        alert("Fail");
                    }
                });
            });
        $("#tableGoiMon").on("click", ".HuyHoaDonTam", function () {
            var ipmac = $('#IDMAC').val();
            var idtd = $(this).parents('tr').find("td:eq(2) input[type='text']").val();
            var thiss = $(this);

            $.ajax({
                type: "post",
                url: "/HuyHoaDonTam",
                data: "IPMAC=" + ipmac + "&IDTD=" + idtd,
                success: function (result) {
                    $("#tableGoiMon").load(location.href + " #tableGoiMon>*", function () {
                        // Tính lại tổng tiền
                        var total = 0;
                        $('#tbodyNTA tr').each(function () {
                            var quantity = $(this).find('input[type="number"]').val();
                            var price = $(this).find('.dongia').text();
                            if (price != null && price != '') {
                                var subtotal = parseInt(quantity) * parseFloat(price.replace(',', ''));
                                total += subtotal;
                                $(this).find('.subtotal').text(toDecimal(subtotal));
                            }
                        });

                        // Gán giá trị tổng vào ô "Tổng"
                        $('#total').val(total.toLocaleString('en-US', {
                            style: 'decimal',
                            maximumFractionDigits: 2,
                            minimumFractionDigits: 2
                        }));
                    });
                },
                error: function () {
                    alert("Fail");
                }
            });
        });

            // Bắt sự kiện khi giá trị ô số lượng thay đổi
            $('#tbodyNTA').on('change', 'input[type="number"]', function () {
                // Lấy số lượng và đơn giá của món ăn
                var $row = $(this).closest('tr');
                var sl = parseInt($(this).val());
                var donGia = parseFloat($row.find('td:eq(3) input').val());

                // Tính thành tiền
                var thanhTien = sl * donGia;
               // $row.find('td:eq(8)').text(thanhTien);
             $row.find('td:eq(8)').text(
                parseFloat(thanhTien).toLocaleString('en-US', {
                    style: 'decimal',
                    maximumFractionDigits: 2,
                    minimumFractionDigits: 2
                })
            );

                // Tính tổng tiền
                // Tính lại tổng tiền
                var tongTien = 0;
                $('#tbodyNTA tr').each(function () {
                    var tt = $(this).find('td:eq(8)').text().replace(/,/g, '');
                    var ttt = parseFloat(tt);
                    if (!isNaN(ttt)) {
                        tongTien += parseFloat(ttt);
                    }
                });

// Hiển thị tổng tiền
$('#tbodyNTA tr:last td:eq(5) input').val(tongTien.toLocaleString('en-US', {
    style: 'decimal',
    maximumFractionDigits: 2,
    minimumFractionDigits: 2
}));


            });

             $("#tbodyNTA").on("blur", "#SL", function () {
                var sl = $(this).val(); // Lấy giá trị của ô input số lượng
                var idcthdt = $(this).closest('tr').find('#IDCTHDT').val();
                var dongia = $(this).parents('tr').find("td:eq(5)").text();
                var thanhtien =$(this).parents('tr').find("td:eq(8)").text();

                $.ajax({
                    type: "post",
                    url: "/UpdateSL",
                data: "&IDCTHDT=" + idcthdt + "&SL=" + sl + "&DonGia=" + dongia + "&ThanhTien=" +thanhtien,
                    success: function (result) {
                        
                        // Xử lý khi thành công
                    },
                    error: function () {
                        alert(thanhtien);
                        alert("Fail");
                    }
                });
            });

        });
        // Thêm sự kiện click vào nút "Gọi món"
    //    $(".btn-addcthd").on("click", function () {
    //        // Hiển thị toast "Gọi món thành công"

    //        // Chuyển hướng tới trang HoaDon
    //        window.location.href = "/KhachHang/HoaDon";
    //    });
    //$(".btn-addcthd1").on("click", function () {
    //    // Hiển thị toast "Gọi món thành công"
    //    alert(30);
    //    // Chuyển hướng tới trang HoaDon
    //});
    </script>
    
 