@using System.Net.NetworkInformation

@{
    QuanLyNhaHangContext context = new QuanLyNhaHangContext();
    ThucDon getTD(int? id)
    {
        ThucDon nv = context.ThucDon.Find(id);
        if (nv != null) return nv;
        else return new ThucDon();
    }
    string macAddress = "";
    foreach (NetworkInterface nic in NetworkInterface.GetAllNetworkInterfaces())
    {
        // Only consider Ethernet network interfaces
        if (nic.NetworkInterfaceType == NetworkInterfaceType.Ethernet &&
            nic.OperationalStatus == OperationalStatus.Up)
        {
            macAddress = nic.GetPhysicalAddress().ToString();
            break;
        }
    }
    ChiTietHoaDonTam getCTHDT(string ipmac, int? idtd)
    {
        return context.ChiTietHoaDonTam.FirstOrDefault(x => x.Ipmac == ipmac && x.Idtd == idtd);
    }

}
<tbody id="tbodyNTA">
    @foreach (Gia item in ViewBag.NTA)
    {


        if (getCTHDT(macAddress, item.Idtd) != null)
        {



            <tr>

                <td>
                    <div class="avatar avatar-md">

                        @if (item.IdtdNavigation.Image == null)
                        {
                            <img class="modal-image" style="width: auto; height: 200px;object-fit: contain;"
                     src="~/ImagesTD/camon.png" />
                        }
                        else
                        {
                            <img class="modal-image" style="width : auto; height: 200px;object-fit: contain;"
                     src="~/ImagesTD/@item.IdtdNavigation.Image" />
                        }
                    </div>
                </td>
                <td>
                    <p><strong>@getTD(@item.Idtd).Ten</strong></p>

                </td>
                <td style="display:none"><input class='inputDisabled text-center' value=@item.Idtd type=text></td>
                <td style="display:none"><input class='inputDisabled text-center' value=@item.Gia1 type=text></td>

                <td>
                    <p class="fw-bold">@item.Gia1</p>
                </td>
                <td class="w-25">@getTD(item.Idtd).Detail<small class="text-muted"></small></td>
                <td>
                    <button class="HuyaddTD btn btn-secondary"> hủy chọn món </button>
                </td>
            </tr>
        }
        else
        {
            <tr>

                <td>
                    <div class="avatar avatar-md">
                        @if (item.IdtdNavigation.Image == null)
                        {
                            <img class="modal-image" style="width: auto; height: 200px;object-fit: contain;"
                     src="~/ImagesTD/camon.png" />
                        }
                        else
                        {
                            <img class="modal-image" style="width: auto; height: 200px;object-fit: contain;"
                     src="~/ImagesTD/@item.IdtdNavigation.Image" />
                        }
                    </div>
                </td>
                <td>
                    <p class="mb-0 text-muted"><strong>@getTD(@item.Idtd).Ten</strong></p>
                </td>
                <td style="display:none"><input class='inputDisabled text-center' value=@item.Idtd type=text></td>
                <td style="display:none"><input class='inputDisabled text-center' value=@item.Gia1 type=text></td>

                <td>
                    <p class="fw-bold"><a href="#" class="text-muted">@item.Gia1</a></p>
                </td>
                <td class="w-25">@getTD(item.Idtd).Detail<small class="text-muted"></small></td>
                <td>
                    <button class="addTD btn btn-info"> Thêm món </button>
                </td>
            </tr>
        }
    }

</tbody>