@using System.Net.NetworkInformation
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    QuanLyNhaHangContext context = new QuanLyNhaHangContext();
    List<NhomThucAn> getListNTA()
    {
        return context.NhomThucAn.Where(x => x.Active == true).ToList();
    }
    ThucDon getTD(int? id)
  {
    ThucDon nv = context.ThucDon.Find(id);
    if (nv != null) return nv;
    else return new ThucDon();
  }
    string macAddress = "";
    foreach (NetworkInterface nic in NetworkInterface.GetAllNetworkInterfaces())
    {
        // Only consider Ethernet network interfaces
        if (nic.NetworkInterfaceType == NetworkInterfaceType.Ethernet &&
            nic.OperationalStatus == OperationalStatus.Up)
        {
            macAddress = nic.GetPhysicalAddress().ToString();
            break;
        }
    }
    ViewBag.IDMAC = macAddress;
    var IDkhu = context.Ban.FirstOrDefault(x => x.Ipmac == macAddress);
    var IDSanh = context.Khu.FirstOrDefault(x => x.Idkhu == IDkhu.Idkhu);
    List<Gia> getListGia()
    {
        return context.Gia.Include(x => x.IdtdNavigation).Where(x => x.Idsanh == IDSanh.Idsanh).ToList();
    }
    ChiTietHoaDonTam getCTHDT(string ipmac, int? idtd)
    {
        return context.ChiTietHoaDonTam.FirstOrDefault(x => x.Ipmac == ipmac && x.Idtd==idtd);
    }

}

        <div class="container-fluid" style="width:100%">
          <div class="row justify-content-center">
            <div class="col-12">
            <div class="row" style="width:100%">
                <!-- Small table -->
                <div class="col-md-12 my-4">
                  <h2 class="h4 mb-1">Customize table rendering</h2>
                  <p class="mb-3">Additional table rendering with vertical border, rich content formatting for cell</p>
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="toolbar">
                        <form class="form">
                          <div class="form-row">
                            <div class="form-group col-auto mr-auto">
                              <label class="my-1 mr-2 sr-only" for="inlineFormCustomSelectPref1">Show</label>
                              <select  class="custom-select mr-sm-2"  id="nhomTA" onchange="loadNhomThucAn()">
                                <option selected value=""> -- Nhóm thức ăn --</option>
                                <option value="0">Tất cả</option>
                                @foreach (NhomThucAn item in getListNTA())
                               {
                                   <option value="@item.Idnta">@item.TenNta</option>
                               }
                               
                              </select>
                            </div>
                            <div class="form-group col-auto">
                              <label for="search" class="sr-only">Search</label>
                              <input type="text" class="form-control" id="search1" value="" placeholder="Search">
                            </div>
                          </div>
                        </form>
                      </div>
                      <!-- table -->
                    <input type="hidden" id="IDMAC" value="@macAddress" />

                      <table class="table table-hover text-center display nowrap" id="myTable">
                        <thead>
                          <tr>

                            <th class="fw-bold">ID</th>
                            <th class="fw-bold">User</th>
                            <th class="fw-bold">Company</th>
                            <th class="fw-bold">Contact</th>
                            <th  class="w-25">Bio</th>
                            <th class="fw-bold"> Date</th>
                            <th class="fw-bold">Action</th>
                          </tr>
                        </thead>
                        <tbody id="tbodyNTA" >
                            @foreach (Gia item in getListGia())
                           {
                              if (getCTHDT(macAddress, item.Idtd) !=null)
                              {
                                  
                               

                          <tr>
                         
                            <td>
                              <div class="avatar avatar-md">
                                                        @if (item.IdtdNavigation.Image == null)
                                                        {
                                                            <img class="modal-image" style="width: auto; height: 250px;object-fit: contain;"
                                                     src="~/ImagesTD/camon.png" />
                                                        }
                                                        else
                                                        {
                                                            <img class="modal-image" style="width: auto; height: 250px;object-fit: contain;"
                                                     src="~/ImagesTD/@item.IdtdNavigation.Image" />
                                                        }
                                                    </div>
                            </td>
                            <td>
                              <p ><strong>@getTD(@item.Idtd).Ten</strong></p>

                            </td>
                            <td style="display:none"><input class='inputDisabled text-center' value=@item.Idtd type=text ></td>
                            <td style="display:none"><input class='inputDisabled text-center' value=@item.Gia1 type=text ></td>
                            <td>
                                                    <p class="fw-bold">@ViewBag.IDMAC</p>
                            </td>
                            <td>
                                                    <p class="fw-bold">@item.Gia1</p>
                            </td>
                            <td class="w-25">@getTD(item.Idtd).Detail<small class="text-muted"></small></td>
                            <td>13/09/2020</td>
                            <td><button class="HuyaddTD btn btn-secondary"> hủy chọn món </button>
                            </td>
                          </tr>
                          }
                          else{
                                                        <tr>
                                                            
                                                            <td>
                                                                <div class="avatar avatar-md">
                                                        @if (item.IdtdNavigation.Image == null)
                                                        {
                                                            <img class="modal-image" style="width: auto; height: 250px;object-fit: contain;"
                                                     src="~/ImagesTD/camon.png" />
                                                        }
                                                        else
                                                        {
                                                            <img class="modal-image" style="width: auto; height: 250px;object-fit: contain;"
                                                     src="~/ImagesTD/@item.IdtdNavigation.Image" />
                                                        }
                                                    </div>
                                                            </td>
                                                            <td>
                                                                <p class="mb-0 text-muted"><strong>@getTD(@item.Idtd).Ten</strong></p>
                                                                <small class="mb-0 text-muted">2474</small>
                                                            </td>
                                                            <td style="display:none"><input class='inputDisabled text-center' value=@item.Idtd type=text ></td>
                                                            <td style="display:none"><input class='inputDisabled text-center' value=@item.Gia1 type=text ></td>
                                                            <td>
                                                               <p class="fw-bold">@ViewBag.IDMAC</p>
                                                            </td>
                                                            <td>
                                                               <p class="fw-bold"><a href="#" class="text-muted">@item.Gia1</a></p>
                                                            </td>
                                                            <td class="w-25">@getTD(item.Idtd).Detail<small class="text-muted"></small></td>
                                                                <td class="fw-bold">13/09/2020</td>
                                                            <td>
                                                                <button class="addTD btn btn-info"> Thêm món </button>
                                                            </td>
                                                        </tr>
                          }
                          }
 
                        </tbody>
                      </table>
                      <nav aria-label="Table Paging" class="mb-0 text-muted">
                        <ul class="pagination justify-content-center mb-0">
                          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item active"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div> <!-- customized table -->
              </div> <!-- end section -->
             
              </div> <!-- end section -->
              
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
         
        
      
    
    <script>
      $('#dataTable-1').DataTable(
      {
        autoWidth: true,
        "lengthMenu": [
          [16, 32, 64, -1],
          [16, 32, 64, "All"]
        ]
      });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');

       function loadNhomThucAn(){
         var idnta = $('#nhomTA').val();
           $.ajax({
              type: "post",
              url: "/loadNhomThucAn",
              data: "&idnta=" + idnta  ,
              success: function (result) {
                                                       
               $('#tbodyNTA').replaceWith(result);
              

                   },
                  error: function () {
                  alert("Fail");
                }
            });
         }
        $(function () {
            $("#myTable").on("click", ".addTD", function () {
                var ipmac = $('#IDMAC').val();
                var idtd = $(this).parents('tr').find("td:eq(2) input[type='text']").val(); 
                var DonGia = $(this).parents('tr').find("td:eq(3) input[type='text']").val(); 
                var thiss = $(this);

                $.ajax({
                    type: "post",
                    url: "/addHoaDon",
                    data: "IPMAC=" + ipmac + "&IDTD=" + idtd + "&DonGia=" + DonGia,
                    success: function (result) {
                    $("#myTable").load(location.href + " #myTable>*", function() {
                     });
                    },
                    error: function () {
                        alert(ipmac);
                        alert("Fail");
                    }
                });
            });
            $("#myTable").on("click", ".HuyaddTD", function () {
                var ipmac = $('#IDMAC').val();
                var idtd = $(this).parents('tr').find("td:eq(2) input[type='text']").val();
                var thiss = $(this);

                $.ajax({
                    type: "post",
                    url: "/HuyHoaDonTam",
                    data: "IPMAC=" + ipmac + "&IDTD=" + idtd,
                    success: function (result) {
                        $("#myTable").load(location.href + " #myTable>*", function () {
                        });
                    },
                    error: function () {
                        alert(ipmac);
                        alert(idtd);
                        alert("Fail");
                    }
                });
            });
        })
    </script>
 