@using System.Net.NetworkInformation
@{
    QuanLyNhaHangContext context = new QuanLyNhaHangContext();

    ThucDon getTD(int? id)
    {
        ThucDon nv = context.ThucDon.Find(id);
        if (nv != null) return nv;
        else return new ThucDon();
    }
    int idban = ViewBag.idb;
    var ipmac = context.Ban.FirstOrDefault(x => x.Idban == idban).Ipmac;
    var KiemTraTT = context.ChiTietHoaDonTam.Where(x => x.Ipmac == ipmac).ToList();

    List<ChiTietHoaDonTam> getListCTHDT()
    {
        return context.ChiTietHoaDonTam.Where(x => x.Ipmac == ipmac && x.HangHoa != true).ToList();
    }
    string toDecimal(double? d)
    {
        return d.Value.ToString("#,##0.00");
    }
    List<ChiTietHoaDonTam> getListCTHDTHH()
    {
        return context.ChiTietHoaDonTam.Where(x => x.Ipmac == ipmac && x.HangHoa == true).ToList();
    }
    HangHoa getHH(int? id)
    {
        HangHoa nv = context.HangHoa.Find(id);
        if (nv != null) return nv;
        else return new HangHoa();
    }
}
<div class="row">
    <!-- Small table -->
    <div class="col-md-12 my-4">
        <h2 class="h4 mb-1">Chọn số lượng món ăn</h2>

        <p class="mb-3">Additional table rendering with vertical border, rich content formatting for cell</p>
        <div class="card shadow">
            <div class="card-body">
                <div class="toolbar">
                    <form class="form">
                        <div class="form-row">
                            <div class="form-group col-auto mr-auto">
                                <label class="my-1 mr-2 sr-only" for="inlineFormCustomSelectPref1">Show</label>

                            </div>
                            <div class="form-group col-auto">
                                <label for="search" class="sr-only">Search</label>
                                <input type="text" class="form-control" id="search1" value="" placeholder="Search">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- table -->
                <input type="hidden" name="ipmac" id="IDMAC" value="@ipmac" />
                <input type="hidden" name="idban" value="@idban" />
                <table class="table table-borderless table-hover" id="tableGoiMonPV">
                    <thead>
                        <tr>

                            <th>ID</th>
                            <th>Tên</th>
                            <th>Đơn Giá</th>
                            <th class="w-25">Số lượng</th>
                            <th>ĐVT</th>
                            <th>Thành tiền</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyNTAPV">
                        @foreach (ChiTietHoaDonTam item in getListCTHDT())
                        {




                            <tr>

                                <td>
                                    <div class="avatar avatar-md">

                                        @if (@getTD(item.Idtd).Image == null)
                                        {
                                            <img class="modal-image" style="width: auto; height: 200px;object-fit: contain;"
                                         src="~/ImagesTD/camon.png" />
                                        }
                                        else
                                        {
                                            <img class="modal-image" style="width : auto; height: 200px;object-fit: contain;"
                                         src="~/ImagesTD/@getTD(item.Idtd).Image" />
                                        }
                                    </div>
                                </td>
                                <td>
                                    <input type="hidden" id="IDCTHDT" value="@item.Idcthdt" />
                                    <p class="mb-0 text-muted"><strong>@getTD(@item.Idtd).Ten</strong></p>

                                </td>
                                <td style="display:none"><input class='inputDisabled text-center' name="Idtd" value=@item.Idtd type=text></td>
                                <td style="display:none"><input class='inputDisabled text-center' name="DonGia" value=@item.DonGia type=text></td>
                                <td style="display:none">
                                    <p class="mb-0 text-muted">@ipmac</p>
                                </td>
                                <td>
                                    <p class="dongia mb-0 text-muted" id="tdDonGia"><strong>@toDecimal(@item.DonGia)</strong></p>
                                </td>
                                <td class="w-15"><input class="form-control" type="number" min="0" id="SL" value="@item.Sl"/></td>
                                <td>Dĩa</td>
                                <td class="text-muted" id="tdThanhTien"><strong>@toDecimal((item.Sl * item.DonGia))</strong></td>
                                <td>
                                    <button class="HuyHoaDonTamPV btn btn-danger"> Hủy chọn món </button>
                                </td>
                                <td style="display:none" class="NTA"><input type="text" value="@getTD(item.Idtd).Idnta" /></td>

                            </tr>


                        }
                        @foreach (ChiTietHoaDonTam item in getListCTHDTHH())
                        {

                            <tr>

                                <td>
                                    <div class="avatar avatar-md">

                                        @if (@getHH(item.Idtd).Avatar == null)
                                        {
                                            <img class="modal-image" style="width: auto; height: 200px;object-fit: contain;"
                                                 src="~/ImagesTD/camon.png" />
                                        }
                                        else
                                        {
                                            <img class="modal-image" style="width : auto; height: 200px;object-fit: contain;"
                                                 src="~/ImagesTD/@getHH(item.Idtd).Avatar" />
                                        }
                                    </div>
                                </td>
                                <td>
                                    <input type="hidden" id="IDCTHDT" value="@item.Idcthdt" />
                                    <p class="mb-0 text-muted"><strong>@getHH(@item.Idtd).TenHh</strong></p>

                                </td>
                                <td style="display:none"><input class='inputDisabled text-center' name="Idtd" data-groupid="3" value=@item.Idtd type=text></td>
                                <td style="display:none"><input class='inputDisabled text-center' name="DonGia" value=@item.DonGia type=text></td>
                                <td style="display:none">
                                    <p class="mb-0 text-muted">@ViewBag.IDMAC</p>
                                </td>
                                <td>
                                    <p class="dongia mb-0 text-muted" id="tdDonGia"><strong>@toDecimal(@item.DonGia)</strong></p>
                                </td>
                                <td class="w-15"><input class="form-control" type="number" min="0" id="SL" value="@item.Sl" /></td>
                                <td>Dĩa</td>
                                <td class="text-muted" id="tdThanhTien"><strong>@toDecimal((item.Sl * item.DonGia))</strong></td>
                                <td>
                                    <button class="HuyHoaDonTamPV btn btn-danger"> Hủy chọn món </button>
                                </td>
                                <td style="display:none" class="NTA"><input type="text" value="3" /></td>
                            </tr>


                        }

                        <tr>
                            <td><h5>Tổng</h5></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><input class="form-control" name="tongtien" id="total" /></td>
                            @if (KiemTraTT.Count() > 0)
                            {
                                <td><button class="btn-addcthd btn btn-primary"> Xác nhận </button></td>

                            }
                            else
                            {
                                <td><button class="btn-addcthd btn btn-primary" disabled> Xác nhận </button></td>

                            }
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- customized table -->
</div>
<script>
    $(document).ready(function () {
        // Tính tổng giá trị của các ô "Thành tiền"
        var total = 0;
        $('#tbodyNTAPV tr').each(function () {
            var quantity = $(this).find('input[type="number"]').val();
            var price = $(this).find('.dongia').text();
            if (price != null && price != '') {
                var subtotal = parseInt(quantity) * parseFloat(price.replace(',', ''));
                total += subtotal;
                $(this).find('.subtotal').text(toDecimal(subtotal));
            }
        });

        // Gán giá trị tổng vào ô "Tổng"
        // $('#total').val(toDecimal(total));
        $('#total').val(total.toLocaleString('en-US', {
            style: 'decimal',
            maximumFractionDigits: 2,
            minimumFractionDigits: 2
        }));
    });
    function toDecimal(d) {
        return d.toLocaleString('vi-VN', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
    }

    $(function () {
        $('#tbodyNTAPV').on('change', 'input[type="number"]', function () {
            // Lấy số lượng và đơn giá của món ăn
            var $row = $(this).closest('tr');
            var sl = parseInt($(this).val());
            var donGia = parseFloat($row.find('td:eq(3) input').val());

            // Tính thành tiền
            var thanhTien = sl * donGia;
            // $row.find('td:eq(8)').text(thanhTien);
            $row.find('td:eq(8)').text(
                parseFloat(thanhTien).toLocaleString('en-US', {
                    style: 'decimal',
                    maximumFractionDigits: 2,
                    minimumFractionDigits: 2
                })
            );

            // Tính tổng tiền
            // Tính lại tổng tiền
            var tongTien = 0;
            $('#tbodyNTAPV tr').each(function () {
                var tt = $(this).find('td:eq(8)').text().replace(/,/g, '');
                var ttt = parseFloat(tt);
                if (!isNaN(ttt)) {
                    tongTien += parseFloat(ttt);
                }
            });

            // Hiển thị tổng tiền
            $('#tbodyNTAPV tr:last td:eq(5) input').val(tongTien.toLocaleString('en-US', {
                style: 'decimal',
                maximumFractionDigits: 2,
                minimumFractionDigits: 2
            }));


        });
        $("#tableGoiMonPV").on("click", ".HuyHoaDonTamPV", function () {
            var ipmac = $('#IDMAC').val();
            var idtd = $(this).parents('tr').find("td:eq(2) input[type='text']").val();
            var thiss = $(this);

            $.ajax({
                type: "post",
                url: "/HuyHoaDonTamPV",
                data: "IPMAC=" + ipmac + "&IDTD=" + idtd,
                success: function (result) {
                    $("#tableGoiMonPV").load(location.href + " #tableGoiMonPV>*", function () {
                        // Tính lại tổng tiền
                        var total = 0;
                        $('#tbodyNTAPV tr').each(function () {
                            var quantity = $(this).find('input[type="number"]').val();
                            var price = $(this).find('.dongia').text();
                            if (price != null && price != '') {
                                var subtotal = parseInt(quantity) * parseFloat(price.replace(',', ''));
                                total += subtotal;
                                $(this).find('.subtotal').text(toDecimal(subtotal));
                            }
                        });

                        // Gán giá trị tổng vào ô "Tổng"
                        $('#total').val(total.toLocaleString('en-US', {
                            style: 'decimal',
                            maximumFractionDigits: 2,
                            minimumFractionDigits: 2
                        }));
                    });
                },
                error: function () {
                    alert("Fail");
                }
            });
        });
        $("#tbodyNTAPV").on("blur", "#SL", function () {
            var sl = $(this).val(); // Lấy giá trị của ô input số lượng
            var idcthdt = $(this).closest('tr').find('#IDCTHDT').val();
            var dongia = $(this).parents('tr').find("td:eq(5)").text();
            var thanhtien = $(this).parents('tr').find("td:eq(8)").text();


            $.ajax({
                type: "post",
                url: "/UpdateSLPV",
                data: "&IDCTHDT=" + idcthdt + "&SL=" + sl + "&DonGia=" + dongia + "&ThanhTien=" + thanhtien,
                success: function (result) {

                    // Xử lý khi thành công
                },
                error: function () {
                    alert("Fail");
                }
            });
        });
    });
    $(".btn-addcthd").on("click", function () {
        // Hiển thị toast "Gọi món thành công"

        // Chuyển hướng tới trang HoaDon
        window.location.href = "/PhucVu/Order";
    });
</script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>