@{
    QuanLyNhaHangContext context = new QuanLyNhaHangContext();
    ThucDon getTD(int? id)
    {
        ThucDon nv = context.ThucDon.Find(id);
        if (nv != null) return nv;
        else return new ThucDon();
    }
    ChiTietHoaDonTam getCTHDT(string ipmac, int? idtd)
    {
        return context.ChiTietHoaDonTam.FirstOrDefault(x => x.Ipmac == ipmac && x.Idtd == idtd);
    }
    string toDecimal(double? d)
    {
        return d.Value.ToString("#,##0.00");
    }
}
<tbody id="tbodyNTAPV">
    @foreach (Gia item in ViewBag.NTA)
    {


        if (getCTHDT(ViewBag.IPMAC, item.Idtd) != null)
        {



            <tr>

                <td>
                    <div class="avatar avatar-md">

                        @if (item.IdtdNavigation.Image == null)
                        {
                            <img class="modal-image" style="width: auto; height: 200px;object-fit: contain;"
                     src="~/ImagesTD/camon.png" />
                        }
                        else
                        {
                            <img class="modal-image" style="width : auto; height: 200px;object-fit: contain;"
                     src="~/ImagesTD/@item.IdtdNavigation.Image" />
                        }
                    </div>
                </td>
                <td>
                    <strong>@getTD(@item.Idtd).Ten</strong>

                </td>
                <td style="display:none"><input class='inputDisabled text-center' value=@item.Idtd type=text></td>
                <td style="display:none"><input class='inputDisabled text-center' value=@toDecimal(@item.Gia1) type=text></td>

                <td>
                    <strong> @toDecimal(@item.Gia1)</strong>
                </td>
                <td class="w-25">@getTD(item.Idtd).Detail<small class="text-muted"></small></td>
                <td>
                    <button class="HuyaddTDPV btn btn-secondary"> hủy chọn món </button>
                </td>
            </tr>
        }
        else
        {
            <tr>

                <td>
                    <div class="avatar avatar-md">
                        @if (item.IdtdNavigation.Image == null)
                        {
                            <img class="modal-image" style="width: auto; height: 200px;object-fit: contain;"
                     src="~/ImagesTD/camon.png" />
                        }
                        else
                        {
                            <img class="modal-image" style="width: auto; height: 200px;object-fit: contain;"
                     src="~/ImagesTD/@item.IdtdNavigation.Image" />
                        }
                    </div>
                </td>
                <td>
                    <strong>@getTD(@item.Idtd).Ten</strong>
                </td>
                <td style="display:none"><input class='inputDisabled text-center' value=@item.Idtd type=text></td>
                <td style="display:none"><input class='inputDisabled text-center' value=@toDecimal(@item.Gia1) type=text></td>

                <td>
                    <strong> @toDecimal(@item.Gia1)</strong>
                </td>
                <td class="w-25">@getTD(item.Idtd).Detail<small class="text-muted"></small></td>
                <td>
                    <button class="addTDPV btn btn-info"> Thêm món </button>
                </td>
            </tr>
        }
    }

</tbody>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>