@using System.Net.NetworkInformation
@{
    QuanLyNhaHangContext context = new QuanLyNhaHangContext();
    List<NhomThucAn> getListNTA()
    {
        return context.NhomThucAn.Where(x => x.Active == true).ToList();
    }
    ThucDon getTD(int? id)
    {
        ThucDon nv = context.ThucDon.Find(id);
        if (nv != null) return nv;
        else return new ThucDon();
    }
    int idban = ViewBag.idb;
    var ipmac = context.Ban.FirstOrDefault(x => x.Idban == idban).Ipmac;
    ChiTietHoaDonTam getCTHDT(string ipmac, int? idtd, bool hangHoa)
    {
        if (hangHoa == true)
        {
            return context.ChiTietHoaDonTam.FirstOrDefault(x => x.Ipmac == ipmac && x.Idtd == idtd && x.HangHoa == true);
        }
        else
        {
            return context.ChiTietHoaDonTam.FirstOrDefault(x => x.Ipmac == ipmac && x.Idtd == idtd && x.HangHoa != true);
        }
    }
    string toDecimal(double? d)
    {
        return d.Value.ToString("#,##0.00");
    }
    List<HangHoa> hangHoas = context.HangHoa
    .Include(x => x.IdnhhNavigation).Where(x => x.Active == true && x.IdnhhNavigation.HangHoa == true).ToList();
}
<div class="card-body">
                      <div class="toolbar">
     
                        <form class="form">
                          <div class="form-row">
                <div class="col-auto">   <a href="/PhucVu/GoiMonPV/@ViewBag.idb" class="btn btn-primary"> Gọi món </a></div>
                            <div class="form-group col-auto mr-auto">
                              <label class="my-1 mr-2 sr-only" for="inlineFormCustomSelectPref1">Show</label>
                            <select class="custom-select mr-sm-2" id="nhomTA" onchange="loadNhomThucAnPV()">
                                <option selected value=""> -- Nhóm thức ăn --</option>
                                <option value="0">Tất cả</option>
                                @foreach (NhomThucAn item in getListNTA())
                                {
                                               <option value="@item.Idnta">@item.TenNta</option>
                                }
                    </select>
                            </div>
                            <div class="form-group col-auto">
                              <label for="search" class="sr-only">Search</label>
                              <input type="text" class="form-control" id="search1" value="" placeholder="Search">
                            </div>
                          </div>
                        </form>
                      </div>
                      <!-- table -->

    <table class="table table-hover text-center display nowrap" id="myTablePV">
        <thead>
            <tr>

                <th class="fw-bold">Ảnh</th>
                <th class="fw-bold">Tên món</th>
                <th class="fw-bold">Giá</th>
                <th class="fw-bold">Miêu tả</th>

                <th class="fw-bold">Action</th>
            </tr>
        </thead>
        <tbody id="tbodyNTAPV">
            @foreach (Gia item in ViewBag.menuPV)
            {
                if (getCTHDT(ipmac, item.Idtd,false) != null)
                {



                    <tr data-hanghoa="0">

                        <td>
                            <div class="avatar avatar-md">

                                @if (item.IdtdNavigation.Image == null)
                                {
                                    <img class="modal-image" style="width: auto; height: 200px;object-fit: contain;"
                             src="~/ImagesTD/camon.png" />
                                }
                                else
                                {
                                    <img class="modal-image" style="width : auto; height: 200px;object-fit: contain;"
                             src="~/ImagesTD/@item.IdtdNavigation.Image" />
                                }
                            </div>
                        </td>
                        <td>
                            <strong>@getTD(@item.Idtd).Ten</strong>

                        </td>
                        <td style="display:none"><input class='inputDisabled text-center' value=@item.Idtd type=text></td>
                        <td style="display:none"><input class='inputDisabled text-center' value=@toDecimal(@item.Gia1) type=text></td>

                        <td>
                            <strong> @toDecimal(@item.Gia1)</strong>
                        </td>
                        <td class="w-25">@getTD(item.Idtd).Detail<small class="text-muted"></small></td>
                        <td>
                            <button class="HuyaddTDPV btn btn-secondary"> hủy chọn món </button>
                        </td>
                    </tr>
                }
                else
                {
                    <tr data-hanghoa="0">

                        <td>
                            <div class="avatar avatar-md">
                                @if (item.IdtdNavigation.Image == null)
                                {
                                    <img class="modal-image" style="width: auto; height: 200px;object-fit: contain;"
                             src="~/ImagesTD/camon.png" />
                                }
                                else
                                {
                                    <img class="modal-image" style="width: auto; height: 200px;object-fit: contain;"
                             src="~/ImagesTD/@item.IdtdNavigation.Image" />
                                }
                            </div>
                        </td>
                        <td>
                           <strong>@getTD(@item.Idtd).Ten</strong>
                        </td>
                        <td style="display:none"><input class='inputDisabled text-center' value=@item.Idtd type=text></td>
                        <td style="display:none"><input class='inputDisabled text-center' value=@toDecimal(@item.Gia1) type=text></td>

                        <td>
                            <strong> @toDecimal(@item.Gia1)</strong>
                        </td>
                        <td class="w-25">@getTD(item.Idtd).Detail<small class="text-muted"></small></td>
                        <td>
                            <button class="addTDPV btn btn-info"> Thêm món </button>
                        </td>
                    </tr>
                }
            }
            @foreach (HangHoa item in hangHoas)
            {
                <tr data-hanghoa="1">

                    <td>
                        <div class="avatar avatar-md">
                            @if (item.Avatar == null)
                            {
                                <img class="modal-image" style="width: auto; height: 200px;object-fit: contain;"
                                     src="~/ImagesTD/camon.png" />
                            }
                            else
                            {
                                <img class="modal-image" style="width: auto; height: 200px;object-fit: contain;"
                                     src="~/ImagesTD/@item.Avatar" />
                            }
                        </div>
                    </td>
                    <td>
                        <strong>@item.TenHh</strong>
                    </td>
                    <td style="display:none"><input class='inputDisabled text-center' value=@item.Idhh type=text></td>
                    <td style="display:none"><input class='inputDisabled text-center' value=@toDecimal(@item.GiaBan) type=text></td>

                    <td>
                        <strong> @toDecimal(@item.GiaBan)</strong>
                    </td>
                    <td class="w-25"><small class="text-muted"></small></td>
                    @if (getCTHDT(ipmac, item.Idhh, true) != null)
                    {
                        <td>
                            <button class="HuyaddTDPV btn btn-secondary"> hủy chọn món </button>
                        </td>
                    }
                    else
                    {
                        <td>
                            <button class="addTDPV btn btn-info"> Thêm món </button>
                        </td>
                    }
                </tr>

            }
        </tbody>
    </table>
                 <input type="hidden" id="IDB" value="@ViewBag.idb" />
                 <input type="hidden"  id="IPMAC" value="@ipmac"/>

                    </div>

<script>
    function loadNhomThucAnPV() {
        var idnta = $('#nhomTA').val();
        var idb = $('#IDB').val();
        $.ajax({
            type: "post",
            url: "/loadNhomThucAnPV",
            data: "&idnta=" + idnta + "&idb=" + idb,
            success: function (result) {
                $('#tbodyNTAPV').replaceWith(result);


            },
            error: function () {
                alert("Fail");
            }
        });
    }
    $(function () {
        $("#myTablePV").on("click", ".addTDPV", function () {
            var ipmac = $('#IPMAC').val();
            var idtd = $(this).parents('tr').find("td:eq(2) input[type='text']").val();
            var DonGia = $(this).parents('tr').find("td:eq(3) input[type='text']").val();
            var thiss = $(this);
            var hangHoa = $(this).closest('tr').data('hanghoa');
            console.log(hangHoa);
            $.ajax({
                type: "post",
                url: "/addHoaDonPV",
                data: "IPMAC=" + ipmac + "&IDTD=" + idtd + "&DonGia=" + DonGia + "&HangHoa=" + hangHoa,
                success: function (result) {
                    $("#myTablePV").load(location.href + " #myTablePV>*", function () {
                        // callback function
                    });
                },
                error: function () {
                    alert(ipmac);
                    alert("Fail");
                }
            });
        });
        $("#myTablePV").on("click", ".HuyaddTDPV", function () {
            var ipmac = $('#IPMAC').val();
            var idtd = $(this).parents('tr').find("td:eq(2) input[type='text']").val();
            var thiss = $(this);

            $.ajax({
                type: "post",
                url: "/HuyHoaDonTamPV",
                data: "IPMAC=" + ipmac + "&IDTD=" + idtd,
                success: function (result) {
                    $("#myTablePV").load(location.href + " #myTablePV>*", function () {
                    });
                },
                error: function () {
                    alert(ipmac);
                    alert(idtd);
                    alert("Fail");
                }
            });
        });
    })
</script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>