@using System.Net.NetworkInformation
@{
    QuanLyNhaHangContext context = new QuanLyNhaHangContext();
    List<NhomThucAn> getListNTA()
    {
        return context.NhomThucAn.Where(x => x.Active == true).ToList();
    }
    ThucDon getTD(int? id)
    {
        ThucDon nv = context.ThucDon.Find(id);
        if (nv != null) return nv;
        else return new ThucDon();
    }
    int idban = ViewBag.idb;
    var ipmac = context.Ban.FirstOrDefault(x => x.Idban == idban).Ipmac;
    ChiTietHoaDonTam getCTHDT(string ipmac, int? idtd)
    {
        return context.ChiTietHoaDonTam.FirstOrDefault(x => x.Ipmac == ipmac && x.Idtd == idtd);
    }

}
<div class="card-body">
                      <div class="toolbar">
        <input type="button" class="btn btn-danger"  />
        <a href="/PhucVu/GoiMonPV/@ViewBag.idb"> Gọi món </a>
                        <form class="form">
                          <div class="form-row">
                            <div class="form-group col-auto mr-auto">
                              <label class="my-1 mr-2 sr-only" for="inlineFormCustomSelectPref1">Show</label>
                              <select  class="custom-select mr-sm-2"  id="nhomTA" onchange="loadNhomThucAnPV()">
                                <option selected value=""> -- Nhóm thức ăn --</option>
                                <option value="0">Tất cả</option>
                        @foreach (NhomThucAn item in getListNTA())
                        {
                                       <option value="@item.Idnta">@item.TenNta</option>
                        }

                              </select>
                            </div>
                            <div class="form-group col-auto">
                              <label for="search" class="sr-only">Search</label>
                              <input type="text" class="form-control" id="search1" value="" placeholder="Search">
                            </div>
                          </div>
                        </form>
                      </div>
                      <!-- table -->

                      <table class="table table-borderless table-hover" id="myTablePV">
                        <thead>
                          <tr>
                            <td>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="all2">
                                <label class="custom-control-label" for="all2"></label>
                              </div>
                            </td>
                            <th>ID</th>
                            <th>User</th>
                            <th>Company</th>
                            <th>Contact</th>
                            <th class="w-25">Bio</th>
                            <th>Date</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody id="tbodyNTAPV" >
            @foreach (Gia item in ViewBag.menuPV)
            {
                if (getCTHDT(ipmac, item.Idtd) != null)
                {



                                  <tr>
                                    <td>
                                      <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <label class="custom-control-label"></label>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="avatar avatar-md">
                                        <img src="./assets/avatars/face-3.jpg" alt="..." class="avatar-img rounded-circle">
                                      </div>
                                    </td>
                                    <td>
                                      <p class="mb-0 text-muted"><strong>@getTD(@item.Idtd).Ten</strong></p>

                                      <small class="mb-0 text-muted">2474</small>
                                    </td>
                                    <td style="display:none"><input class='inputDisabled text-center' value=@item.Idtd type=text ></td>
                                    <td style="display:none"><input class='inputDisabled text-center' value=@item.Gia1 type=text ></td>
                                    <td>
                                                                    <p class="mb-0 text-muted">@ViewBag.IDMAC</p>
                                      <small class="mb-0 text-muted">Ap #331-7123 Lobortis Avenue</small>
                                    </td>
                                    <td>
                                      <p class="mb-0 text-muted"><a href="#" class="text-muted">@item.Gia1</a></p>
                                      <small class="mb-0 text-muted">Nigeria</small>
                                    </td>
                                    <td class="w-25">@getTD(item.Idtd).Detail<small class="text-muted"></small></td>
                                    <td class="text-muted">13/09/2020</td>
                                    <td><button class="addTDPV btn btn-secondary"> hủy chọn món </button>
                                    </td>
                                  </tr>
                }
                else
                {
                                                                <tr>
                                                                    <td>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input">
                                                                            <label class="custom-control-label"></label>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="avatar avatar-md">
                                                                            <img src="./assets/avatars/face-3.jpg" alt="..." class="avatar-img rounded-circle">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <p class="mb-0 text-muted"><strong>@getTD(@item.Idtd).Ten</strong></p>
                                                                        <small class="mb-0 text-muted">2474</small>
                                                                    </td>
                                                                    <td style="display:none"><input class='inputDisabled text-center' value=@item.Idtd type=text ></td>
                                                                    <td style="display:none"><input class='inputDisabled text-center' value=@item.Gia1 type=text ></td>
                                                                    <td>
                                                                        <p class="mb-0 text-muted">@ViewBag.IDMAC</p>
                                                                        <small class="mb-0 text-muted">Ap #331-7123 Lobortis Avenue</small>
                                                                    </td>
                                                                    <td>
                                                                        <p class="mb-0 text-muted"><a href="#" class="text-muted">@item.Gia1</a></p>
                                                                        <small class="mb-0 text-muted">Nigeria</small>
                                                                    </td>
                                                                    <td class="w-25">@getTD(item.Idtd).Detail<small class="text-muted"></small></td>
                                                                    <td class="text-muted">13/09/2020</td>
                                                                    <td>
                                                                        <button class="addTDPV btn btn-secondary"> Thêm món </button>
                                                                    </td>
                                                                </tr>
                }
            }
           
                        </tbody>
                      </table>
                 <input type="hidden" id="IDB" value="@ViewBag.idb" />
                 <input  id="IPMAC" value="@ipmac"/>
                      <nav aria-label="Table Paging" class="mb-0 text-muted">
                        <ul class="pagination justify-content-center mb-0">
                          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item active"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                      </nav>
                    </div>

<script>
    function loadNhomThucAnPV() {
        var idnta = $('#nhomTA').val();
        var idb = $('#IDB').val();
        $.ajax({
            type: "post",
            url: "/loadNhomThucAnPV",
            data: "&idnta=" + idnta + "&idb=" + idb,
            success: function (result) {

                $('#tbodyNTAPV').replaceWith(result);


            },
            error: function () {
                alert("Fail");
            }
        });
    }
    $(function () {
        $("#myTablePV").on("click", ".addTDPV", function () {
            var ipmac = $('#IPMAC').val();
            var idtd = $(this).parents('tr').find("td:eq(3) input[type='text']").val();
            var DonGia = $(this).parents('tr').find("td:eq(4) input[type='text']").val();
            var thiss = $(this);

            $.ajax({
                type: "post",
                url: "/addHoaDonPV",
                data: "IPMAC=" + ipmac + "&IDTD=" + idtd + "&DonGia=" + DonGia,
                success: function (result) {
                    $("#myTablePV").load(location.href + " #myTablePV>*", function () {
                        // callback function
                    });
                },
                error: function () {
                    alert(ipmac);
                    alert("Fail");
                }
            });
        });
    })
</script>