@using System.Security.Claims
@{


    DateTime now = DateTime.Now;
    DayOfWeek dayOfWeek = now.DayOfWeek;
    string dayOfWeekString = dayOfWeek.ToString();
    QuanLyNhaHangContext context = new QuanLyNhaHangContext();
    var ca = context.Ca.FirstOrDefault(x => x.Thu == dayOfWeekString && now.TimeOfDay >= x.TgbatDau && now.TimeOfDay <= x.TgketThuc && x.Active==true).Idca;
    int idnv = int.Parse(User.FindFirstValue(ClaimTypes.Name));
    var idkhu = context.LichLamViec.FirstOrDefault(x => x.Idca == ca && x.Idnv== idnv && x.Active==true)?.Idkhu;

    List<ChiTietHoaDon> listCTHDPV(){
        return  context.ChiTietHoaDon.Include(x => x.IdhdNavigation.IdbanNavigation)
                    .Include(x => x.IdtdNavigation)
                    .Where(x => x.IdhdNavigation.IdbanNavigation.Idkhu == idkhu && x.TghoanThanh != null && x.TgphucVu ==null).ToList();
    }

}

                            <!-- simple table -->
                                <div class="card shadow">
                                    <div class="card-body">
                                        <h5 class="card-title">Xác nhận giao món thành công</h5>
                                        <input id="IDKHU" value="@idkhu" type="hidden"/>
                                        <p class="card-text"></p>
                                        <table class="table table-hover" id="tableTGPV">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Bàn</th>
                                                    <th>Tên</th>
                                                    <th>số lượng</th>
                                                    <th>Ghi chú</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbodyTGNM" >
                        @{
                            int i = 0;
                        }
                        @foreach (ChiTietHoaDon item in listCTHDPV())
                        {
                            i++;

                                                <tr>
                                                    <td>@i</td>
                                                    <td>@item.IdhdNavigation.IdbanNavigation.TenBan</td>
                                                    <td>@item.IdtdNavigation.Ten</td>
                                                    <td>@item.Sl</td>
                                                    <td></td>
                                                    <td><button class="btn btn-primary btnTGPV" value="@item.Idcthd">Xác nhận</button></td>
                                                </tr>
                                               
                                               
                                               
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
=                            <!-- Bordered table -->
                        
    
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-56159088-1');
        $(document).on('click', '.btnTGPV', function () {
        // Hiển thị toast "Gọi món thành công"

        // Chuyển hướng tới trang HoaDon
        var idcthd = $(this).val();
        $.ajax({
            type: "post",
            url: "/UpdateTGPV",
            data: "&IDCTHDT=" + idcthd ,
            success: function (result) {

                $("#tableTGPV").load(location.href + " #tableTGPV>*", function () {
                });
            },
            error: function () {
                alert(thanhtien);
                alert("Fail");
            }
        });
    });
    </script>
